body{
    background-color: #F8FFFB;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px
}

#loginLinks {
    text-align: center;
}

/* .buttonMain {
  background: #D7FFE7;
  font-family: Arial;
  color: black;
  font-size: 1em;
  display: inline-block;
   margin-right: 5px;
   padding: 5em;
} */
