.welcome-title,
.recommendation-title {
    margin: 16px;
}

.half-cards {
    margin-bottom: 32px;
    display: inline-flex;
    width: 75%;
    margin-left: 12.5%;
}

.half-cards .half-card {
    width: 50%;
}
.md-card-media img {
    max-height: 80px;
}

@media (max-width: 800px) {
    .half-cards {
        width: 100%;
        margin-left: 0;
    }
}